.custom-card {
  width: 400px;
  margin: 20px auto;
  padding: 20px;
}

.custom-stepper {
  background-color: #f5f5f5;
}

.custom-form {
  width: 80%;
}

.custom-form mat-form-field {
  width: 100%;
}
